/* 
 */

.user-menu .user-menu-arrow-icon {
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
}

.user-menu.active .user-menu-arrow-icon {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.user-menu.active {
  background-color: #eaeaea;
}
.user-menu.active .collapsible-header {
  background-color: #c4c2c2;
}
